@font-face {
  font-family: "csmart-crm";
  src: url('csmart-crm.eot?t=1705588164680'); /* IE9*/
  src: url('csmart-crm.eot?t=1705588164680#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("csmart-crm.woff2?t=1705588164680") format("woff2"),
  url("csmart-crm.woff?t=1705588164680") format("woff"),
  url('csmart-crm.ttf?t=1705588164680') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('csmart-crm.svg?t=1705588164680#csmart-crm') format('svg'); /* iOS 4.1- */
}

[class^="csmart-crm-"], [class*=" csmart-crm-"] {
  font-family: 'csmart-crm' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.csmart-crm-3d-cube-sphere:before { content: "\edb3"; }
.csmart-crm-accounts:before { content: "\edb4"; }
.csmart-crm-activity:before { content: "\edb5"; }
.csmart-crm-ad-2:before { content: "\edb6"; }
.csmart-crm-add-to-list:before { content: "\edb7"; }
.csmart-crm-all-users:before { content: "\edb8"; }
.csmart-crm-analytics:before { content: "\edb9"; }
.csmart-crm-arrow-left:before { content: "\edba"; }
.csmart-crm-arrow-right:before { content: "\edbb"; }
.csmart-crm-arrow-up-right-circle:before { content: "\edbc"; }
.csmart-crm-arrow-up-right:before { content: "\edbd"; }
.csmart-crm-arrows-diagonal-minimize-2:before { content: "\edbe"; }
.csmart-crm-arrows-diagonal:before { content: "\edbf"; }
.csmart-crm-arrows-sort:before { content: "\edc0"; }
.csmart-crm-assets:before { content: "\edc1"; }
.csmart-crm-at:before { content: "\edc2"; }
.csmart-crm-automation-1:before { content: "\edc3"; }
.csmart-crm-automation:before { content: "\edc4"; }
.csmart-crm-blockquote:before { content: "\edc5"; }
.csmart-crm-blocks:before { content: "\edc6"; }
.csmart-crm-browser-check:before { content: "\edc7"; }
.csmart-crm-calendar-event:before { content: "\edc8"; }
.csmart-crm-calendar:before { content: "\edc9"; }
.csmart-crm-campaigns:before { content: "\edca"; }
.csmart-crm-captchas:before { content: "\edcb"; }
.csmart-crm-change-plan:before { content: "\edcc"; }
.csmart-crm-check:before { content: "\edcd"; }
.csmart-crm-chevron-down:before { content: "\edce"; }
.csmart-crm-chevron-right:before { content: "\edcf"; }
.csmart-crm-chevron-up:before { content: "\edd0"; }
.csmart-crm-chevrons-right:before { content: "\edd1"; }
.csmart-crm-circle-check-dashed:before { content: "\edd2"; }
.csmart-crm-circle-check:before { content: "\edd3"; }
.csmart-crm-circle-dashed:before { content: "\edd4"; }
.csmart-crm-circles:before { content: "\edd5"; }
.csmart-crm-click:before { content: "\edd6"; }
.csmart-crm-clock-1:before { content: "\edd7"; }
.csmart-crm-clock:before { content: "\edd8"; }
.csmart-crm-close:before { content: "\edd9"; }
.csmart-crm-color-swatch:before { content: "\edda"; }
.csmart-crm-column:before { content: "\eddb"; }
.csmart-crm-commission-rules:before { content: "\eddc"; }
.csmart-crm-configuration:before { content: "\eddd"; }
.csmart-crm-consults:before { content: "\edde"; }
.csmart-crm-contacts:before { content: "\eddf"; }
.csmart-crm-contracts:before { content: "\ede0"; }
.csmart-crm-copy:before { content: "\ede1"; }
.csmart-crm-create-ticket:before { content: "\ede2"; }
.csmart-crm-credit-notes:before { content: "\ede3"; }
.csmart-crm-csmart-commissions:before { content: "\ede4"; }
.csmart-crm-csmart-logo:before { content: "\ede5"; }
.csmart-crm-currency-dollar:before { content: "\ede6"; }
.csmart-crm-currency-euro:before { content: "\ede7"; }
.csmart-crm-currency:before { content: "\ede8"; }
.csmart-crm-customers-management:before { content: "\ede9"; }
.csmart-crm-customize:before { content: "\edea"; }
.csmart-crm-dark-mode:before { content: "\edeb"; }
.csmart-crm-dashboard-nav:before { content: "\edec"; }
.csmart-crm-database:before { content: "\eded"; }
.csmart-crm-dealer-commissions:before { content: "\edee"; }
.csmart-crm-dealer-purchase-order:before { content: "\edef"; }
.csmart-crm-dealers:before { content: "\edf0"; }
.csmart-crm-decimal:before { content: "\edf1"; }
.csmart-crm-device-mobile:before { content: "\edf2"; }
.csmart-crm-discount-management:before { content: "\edf3"; }
.csmart-crm-documents:before { content: "\edf4"; }
.csmart-crm-dots-vertical:before { content: "\edf5"; }
.csmart-crm-dots:before { content: "\edf6"; }
.csmart-crm-edit:before { content: "\edf7"; }
.csmart-crm-email-templates:before { content: "\edf8"; }
.csmart-crm-emails:before { content: "\edf9"; }
.csmart-crm-exceptions:before { content: "\edfa"; }
.csmart-crm-extensions-1:before { content: "\edfb"; }
.csmart-crm-extensions:before { content: "\edfc"; }
.csmart-crm-eye-off:before { content: "\edfd"; }
.csmart-crm-eye:before { content: "\edfe"; }
.csmart-crm-facebook:before { content: "\edff"; }
.csmart-crm-faq:before { content: "\ee00"; }
.csmart-crm-file-invoice:before { content: "\ee01"; }
.csmart-crm-file-plus:before { content: "\ee02"; }
.csmart-crm-file-upload:before { content: "\ee03"; }
.csmart-crm-filter:before { content: "\ee04"; }
.csmart-crm-flower:before { content: "\ee05"; }
.csmart-crm-fraud-customers:before { content: "\ee06"; }
.csmart-crm-free-rights:before { content: "\ee07"; }
.csmart-crm-heading:before { content: "\ee08"; }
.csmart-crm-indent-decrease:before { content: "\ee09"; }
.csmart-crm-indent-increase:before { content: "\ee0a"; }
.csmart-crm-info-circle:before { content: "\ee0b"; }
.csmart-crm-info-square:before { content: "\ee0c"; }
.csmart-crm-instagram:before { content: "\ee0d"; }
.csmart-crm-integration-1:before { content: "\ee0e"; }
.csmart-crm-integration:before { content: "\ee0f"; }
.csmart-crm-intercation-topic:before { content: "\ee10"; }
.csmart-crm-introduction:before { content: "\ee11"; }
.csmart-crm-inventory-1:before { content: "\ee12"; }
.csmart-crm-inventory-catalogue:before { content: "\ee13"; }
.csmart-crm-inventory:before { content: "\ee14"; }
.csmart-crm-invoice:before { content: "\ee15"; }
.csmart-crm-ip-address:before { content: "\ee16"; }
.csmart-crm-key-value:before { content: "\ee17"; }
.csmart-crm-kyc-document:before { content: "\ee18"; }
.csmart-crm-language:before { content: "\ee19"; }
.csmart-crm-layout-board:before { content: "\ee1a"; }
.csmart-crm-layout-grid-add:before { content: "\ee1b"; }
.csmart-crm-layout-navbar:before { content: "\ee1c"; }
.csmart-crm-layout-rows:before { content: "\ee1d"; }
.csmart-crm-layout-sidebar:before { content: "\ee1e"; }
.csmart-crm-light-mode:before { content: "\ee1f"; }
.csmart-crm-line:before { content: "\ee20"; }
.csmart-crm-list-numbers:before { content: "\ee21"; }
.csmart-crm-list:before { content: "\ee22"; }
.csmart-crm-lock:before { content: "\ee23"; }
.csmart-crm-login-history:before { content: "\ee24"; }
.csmart-crm-loyalty-management:before { content: "\ee25"; }
.csmart-crm-loyalty-points:before { content: "\ee26"; }
.csmart-crm-loyalty-transactions:before { content: "\ee27"; }
.csmart-crm-mac-address:before { content: "\ee28"; }
.csmart-crm-mail:before { content: "\ee29"; }
.csmart-crm-manage-roles:before { content: "\ee2a"; }
.csmart-crm-map-2:before { content: "\ee2b"; }
.csmart-crm-map-search:before { content: "\ee2c"; }
.csmart-crm-map:before { content: "\ee2d"; }
.csmart-crm-marketing and sales:before { content: "\ee2e"; }
.csmart-crm-marketing-and-sales:before { content: "\ee2f"; }
.csmart-crm-mask:before { content: "\ee30"; }
.csmart-crm-message-2:before { content: "\ee31"; }
.csmart-crm-messages:before { content: "\ee32"; }
.csmart-crm-microphone:before { content: "\ee33"; }
.csmart-crm-mnp-requests:before { content: "\ee34"; }
.csmart-crm-mobile-data:before { content: "\ee35"; }
.csmart-crm-module-management:before { content: "\ee36"; }
.csmart-crm-multi-select:before { content: "\ee37"; }
.csmart-crm-my-preferences:before { content: "\ee38"; }
.csmart-crm-notes:before { content: "\ee39"; }
.csmart-crm-notifications:before { content: "\ee3a"; }
.csmart-crm-number:before { content: "\ee3b"; }
.csmart-crm-opportunities:before { content: "\ee3c"; }
.csmart-crm-other-settings:before { content: "\ee3d"; }
.csmart-crm-package-list:before { content: "\ee3e"; }
.csmart-crm-packages:before { content: "\ee3f"; }
.csmart-crm-paragraph:before { content: "\ee40"; }
.csmart-crm-partner-management:before { content: "\ee41"; }
.csmart-crm-password-confirmation:before { content: "\ee42"; }
.csmart-crm-password:before { content: "\ee43"; }
.csmart-crm-payment-posting:before { content: "\ee44"; }
.csmart-crm-payment:before { content: "\ee45"; }
.csmart-crm-pdf-templates:before { content: "\ee46"; }
.csmart-crm-penalties:before { content: "\ee47"; }
.csmart-crm-pencil:before { content: "\ee48"; }
.csmart-crm-percentage:before { content: "\ee49"; }
.csmart-crm-phone-call:before { content: "\ee4a"; }
.csmart-crm-phone-outgoing:before { content: "\ee4b"; }
.csmart-crm-phone-plus:before { content: "\ee4c"; }
.csmart-crm-phone:before { content: "\ee4d"; }
.csmart-crm-photo:before { content: "\ee4e"; }
.csmart-crm-plan-change-policy:before { content: "\ee4f"; }
.csmart-crm-plan-renew:before { content: "\ee50"; }
.csmart-crm-plus:before { content: "\ee51"; }
.csmart-crm-price-book:before { content: "\ee52"; }
.csmart-crm-product-catalogue:before { content: "\ee53"; }
.csmart-crm-product-groups:before { content: "\ee54"; }
.csmart-crm-product-variant:before { content: "\ee55"; }
.csmart-crm-products:before { content: "\ee56"; }
.csmart-crm-project-tasks:before { content: "\ee57"; }
.csmart-crm-promotion-offers:before { content: "\ee58"; }
.csmart-crm-promotions:before { content: "\ee59"; }
.csmart-crm-purchase-addons:before { content: "\ee5a"; }
.csmart-crm-purchase-order:before { content: "\ee5b"; }
.csmart-crm-push-notifications:before { content: "\ee5c"; }
.csmart-crm-range:before { content: "\ee5d"; }
.csmart-crm-recharge-voucher:before { content: "\ee5e"; }
.csmart-crm-recycle-bin:before { content: "\ee5f"; }
.csmart-crm-reference:before { content: "\ee60"; }
.csmart-crm-relation:before { content: "\ee61"; }
.csmart-crm-report-money:before { content: "\ee62"; }
.csmart-crm-reports:before { content: "\ee63"; }
.csmart-crm-reviews:before { content: "\ee64"; }
.csmart-crm-row:before { content: "\ee65"; }
.csmart-crm-sales-order:before { content: "\ee66"; }
.csmart-crm-schedulers:before { content: "\ee67"; }
.csmart-crm-search:before { content: "\ee68"; }
.csmart-crm-security-questions:before { content: "\ee69"; }
.csmart-crm-semi-admins:before { content: "\ee6a"; }
.csmart-crm-separator:before { content: "\ee6b"; }
.csmart-crm-share:before { content: "\ee6c"; }
.csmart-crm-sharing-rules:before { content: "\ee6d"; }
.csmart-crm-signature:before { content: "\ee6e"; }
.csmart-crm-sim-msisdn:before { content: "\ee6f"; }
.csmart-crm-slug:before { content: "\ee70"; }
.csmart-crm-smart-tools:before { content: "\ee71"; }
.csmart-crm-sms-templates:before { content: "\ee72"; }
.csmart-crm-sort-by:before { content: "\ee73"; }
.csmart-crm-square-check:before { content: "\ee74"; }
.csmart-crm-square-dropdown:before { content: "\ee75"; }
.csmart-crm-square-radio:before { content: "\ee76"; }
.csmart-crm-square-text:before { content: "\ee77"; }
.csmart-crm-star-fill:before { content: "\ee78"; }
.csmart-crm-star:before { content: "\ee79"; }
.csmart-crm-stars:before { content: "\ee7a"; }
.csmart-crm-state:before { content: "\ee7b"; }
.csmart-crm-stock-transfer:before { content: "\ee7c"; }
.csmart-crm-stores:before { content: "\ee7d"; }
.csmart-crm-subtask:before { content: "\ee7e"; }
.csmart-crm-support-ticket:before { content: "\ee7f"; }
.csmart-crm-support:before { content: "\ee80"; }
.csmart-crm-switch-3:before { content: "\ee81"; }
.csmart-crm-switch-icon:before { content: "\ee82"; }
.csmart-crm-table-export:before { content: "\ee83"; }
.csmart-crm-table-import:before { content: "\ee84"; }
.csmart-crm-table:before { content: "\ee85"; }
.csmart-crm-tag:before { content: "\ee86"; }
.csmart-crm-testimonials:before { content: "\ee87"; }
.csmart-crm-text-area:before { content: "\ee88"; }
.csmart-crm-thumb-down:before { content: "\ee89"; }
.csmart-crm-tickets:before { content: "\ee8a"; }
.csmart-crm-tools-1:before { content: "\ee8b"; }
.csmart-crm-tools:before { content: "\ee8c"; }
.csmart-crm-tower:before { content: "\ee8d"; }
.csmart-crm-transactions:before { content: "\ee8e"; }
.csmart-crm-translations:before { content: "\ee8f"; }
.csmart-crm-trash:before { content: "\ee90"; }
.csmart-crm-twitter:before { content: "\ee91"; }
.csmart-crm-upload:before { content: "\ee92"; }
.csmart-crm-user-circle:before { content: "\ee93"; }
.csmart-crm-user-details:before { content: "\ee94"; }
.csmart-crm-user-groups:before { content: "\ee95"; }
.csmart-crm-user-management:before { content: "\ee96"; }
.csmart-crm-user-plus:before { content: "\ee97"; }
.csmart-crm-user-profiles:before { content: "\ee98"; }
.csmart-crm-user:before { content: "\ee99"; }
.csmart-crm-vanity-rules:before { content: "\ee9a"; }
.csmart-crm-vendors:before { content: "\ee9b"; }
.csmart-crm-video-plus:before { content: "\ee9c"; }
.csmart-crm-voucher-templates:before { content: "\ee9d"; }
.csmart-crm-world:before { content: "\ee9e"; }
.csmart-crm-wysiwyg:before { content: "\ee9f"; }
.csmart-crm-youtube:before { content: "\eea0"; }
